.Main_Section {
  margin-bottom: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--primary-color);
  color: black;
}

.Main_Dark_Section {
  margin-bottom: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
}
